* {
    font-family: Verdana;
}

.jumbotron{
    float: center;
    color: #000;
    text-align: center;
    border: 3px white; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    background-image: linear-gradient(to right, rgb(63, 44, 44),rgb(118, 66, 66));
   
}

h1 {
    text-align: center;
    color: #000;
    margin-top: 5px;
}

body{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: rgba(193, 24, 24, 0.301);
}


.row{
    margin-right: 50px;
}  


.col-md-4{
    margin-top: 18px;
} 

.col-md-3{
    padding: 0px;
} 

#pregled{
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(225, 225, 208, 0.5);
}

.thead{
    font-size: 20px;
    text-align: center;
}

#btn-izmeni{
    font-size: 18px;
    background-image: linear-gradient(to right, rgb(63, 44, 44),rgb(118, 66, 66));
    border-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn-obrisi{
    font-size: 18px;
    background-image: linear-gradient(to right, rgb(63, 44, 44),rgb(118, 66, 66));
    margin-top: 20px;
    margin-bottom: 20px; 
}


#btn-sortiraj{
    font-size: 18px;
    background-image: linear-gradient(to right,  rgb(63, 44, 44),rgb(118, 66, 66));
    border-color: white; 
    margin-top: 20px;
    margin-bottom: 20px;  
}

#btn-dodaj{
    font-size: 18px;
    background-image: linear-gradient(to right, rgb(63, 44, 44),rgb(118, 66, 66));
    border-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal-body{
    background-color: rgb(132, 83, 62);
}

.modal-header{
    background-color: rgb(63, 44, 44);

}

.form-control{
    background-color: lightgrey;
}
.bg-light{
    margin: 0px;
}
.container{
width: auto;
height: auto;

}


